<h1> This is a store </h1>

<% @cars.each do |car| %>
	<%= car.color %> <br> 
	<%= car.year %> <br>  
	<%= car.manufacture %> <br> 
	<%= car.price %> <br> 
	<%= car.image %> <br> 
	<%= car.color %> <br> 
    <%= car.name %> <br> 

<% end %> 