<h2>Year: <%= @car.year %></h2>
<h2>Manufacture: <%= @car.manufacture %></h2>
<h2>Price: <%= @car.price %></h2>
<h2>Image: <%= @car.image %></h2>
<h2>Color: <%= @car.color %></h2>
<h2>Name: <%= @car.name %></h2>



