<h1> Car-App!</h1>

<% @cars.each do |car|  %>
    <h2>Year: <a href="/cars/<%= car.id %>"><%= car.year %></a></h2>
    <h2>Manufacture: <%= car.manufacture %></h2>
    <h2>Price: <%= car.price %></h2>
    <h2>Image: <img src="<%= car.image %>"></h2>
    <h2>Color: <%= car.color %></h2>
    <h2>Name: <%= car.name %></h2>
<% end %>








